/* Content area */

.node {
  width: 100%;
  margin-top: -100px;
}

#donation-message {
  width: 50%;
}

/* Form */

#webform-component-donation--amount .form-item {
  width: 13.75%;
}

.description {
  width: 100%;
}

.form-item-submitted-billing-information-payment-fields-credit-card-cvv .description {
  width: auto;
}

input.form-submit {
  float: left;
  width: 200px;
}